* {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
}

.container {
    width: 100%;
    max-width: 1024px;
    padding: 0 20px 0 20px;
}

.form-box {
    display: block;
    max-width: 700px;
    margin: 0 auto;

    background: white;
    padding: 30px 40px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.title, form input {
    color: #222;
}

.title {
    font-size: 24px;
}

form input {
    font-size: 18px;
}

.btn {
    background-color: #c12c2c;
    border-radius: 4px;
    color: white;
    font-size: 16px;
}